footer {
  background-color: var(--primary-color);
  color: white;
}
footer h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.redes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.elementos-footer {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}
.elementos-footer .box-icon {
  display: flex;
  flex-direction: row;
}

.footer-section {
  text-align: center;

  padding: 4rem 4rem;
}
