*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  /*   font-family: var(--font-family-base);
 */
  font-size: 1.6rem;
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
}
section {
  padding: 6rem 1rem;
}
h1,
h2,
h3,
h3,
ul,
p,
a {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #cac2b5;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

.title-importants {
  position: relative;
  display: inline-block;
  font-family: serif;
  text-transform: capitalize;
}
.title-importants::after {
  position: absolute;
  content: "";
  height: 0.4rem;
  border-radius: 0.3rem;
  left: 50%; /* Centrar el punto de inicio */
  right: 50%; /* Centrar el punto de inicio */
  width: 0; /* Inicialmente, la barra tiene un ancho de 0 */
  bottom: -10px;
  transform: translateX(-50%); /* Centrar la barra horizontalmente */
  transition: width 1s ease-in-out, background-color 1s ease-in-out; /* Transición suave */
  transform-origin: center;
}
#box-card-filtrado .title-importants::after {
  background-color: var(--secondary-color);
}
#container-products .title-importants::after {
  background-color: var(--secondary-color);
}

.carousel .title-importants::after {
  background-color: var(--titles-color);
}

.categorias .title-importants:hover::after {
  width: 100%;
  background-color: var(--white-color);
}

.categorias .title-importants::after {
  transition: width 0.2s ease-in-out;
  height: 0.2rem;
  bottom: -5px;
  border-radius: 0;
  background-color: var(--white-color);
}

.title-importants.activo:after {
  width: 110%;
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .categorias .title-importants {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
} */
