.registro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/images/medievo.webp);
  background-position: center;
  padding: 12rem 0;
  margin: 0.5rem 0;
  background-repeat: no-repeat;
}

.contenido-formulario {
  flex-basis: 30rem;
}
.containerFormulario-registro {
  width: 100%;
  max-width: 45rem;
  background-color: var(--white-color);
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.containerFormulario-registro h1 {
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 6rem;
  text-align: center;
}
.containerFormulario-registro h1::after {
  height: 3px;
  background-color: var(--primary-color);
}
#formulario-registro i,
label {
  color: var(--primary-color);
}

.form-group i {
  padding: 0 1rem;
}
.form-group input {
  padding: 1rem;
  margin-top: 1rem;
}
#formulario-registro .boton-registro {
  padding: 1rem;
  font-size: var(--font-size-buttons);
  border-radius: unset;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--white-color);
}
#formulario-registro .boton-registro:hover,
.boton-registro:focus {
  border: 1px solid var(--primary-color);
  background-color: var(--white-color);
  color: var(--primary-color);
}

#check-date2 {
  display: none;
}

/* Modal */

.modal-header {
  background-color: var(--primary-color);
  color: var(--white-color);
  button {
    background-color: var(--white-color);
  }
}
.modal-body {
  p {
    padding: 1rem;
  }
  h3 {
    text-align: center;
    border-bottom: 2px solid var(--letters-color);
    margin: 4px;
    padding: 4px;
  }
}
