main {
  margin: 0 0 5rem 0;
}

.contenido-principal {
  width: 100%;
}
#desplegable .accordion {
  width: 100%;
}
.carrusel {
  --bs-gutter-x: 0rem;
}

.carousel-caption {
  position: absolute;
  right: 50%;
  bottom: 0rem;
  left: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  background-color: rgb(0, 0, 0, 0.4);
  text-align: left;
  padding-left: 1.4rem;
  height: 10rem;
  border-radius: 0 8px 0 0;
  letter-spacing: 2px;
}
.carousel-caption h2::first-letter {
  text-transform: capitalize;
}
.carousel-caption h2 {
  font-weight: 600;
}
.carousel-caption p {
  padding-left: 1rem;
}
/* Cards filtradas */

#box-card-filtrado {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  width: 100%;
}
#box-card-filtrado .card {
  max-width: 60%;
}
.card-filtrada {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-filtrada h1 {
  padding: 1rem 0 0 0;
  position: relative;
}
.card-filtrada h1::after {
  content: "";
  width: 40%;
  height: 0.5rem;
  border-radius: 0.3rem;
  background-color: #04bd7d;
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.card-filtrada .boton-cancelar {
  background-color: black;
  color: white;
  justify-self: end;
  align-self: flex-end;
  max-width: 60%;
  padding: 0.5rem;
}
.card-filtrada .cabecera {
  display: flex;
  align-items: center;
  justify-content: center;
}
#box-card-principales {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}

#box-card-principales .card {
  display: flex;
  flex-direction: row;
  width: 25rem;
  background-color: #007491;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5), inset 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

#box-card-principales .card img {
  width: 3rem;
  margin-right: 1rem;
}
/* Contenedor de productos */
#container-products {
  text-align: center;
}
.box-products {
  display: flex;
  padding: 4rem 1rem;
  gap: 1.8rem;
  justify-content: center;
  flex-wrap: wrap;
}
.box-products .card-title {
  font-weight: 600;
}
.box-products .columna {
  padding: 0;
  height: 100%;
  flex-basis: 20rem;
}
.columna .card {
  padding: 0;
  height: 38rem;
  max-height: 40rem;
}
.columna .card .comprar:hover {
  background-color: white;
  color: #212529;
}
.imagen {
  margin: 0 auto;
  height: 50%;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

#carousel-products .carousel-item {
  height: 400px;
}

.carousel-control-next {
  top: 50%;
  align-items: start;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semitransparente */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 99;
}
.visible {
  opacity: 1;
  visibility: visible;
}
