main {
  margin: 0 0 5rem 0;
}

.contenido-principal {
  width: 100%;
}
#desplegable .accordion {
  width: 100%;
}

.carousel-caption {
  position: absolute;
  right: 50%;
  bottom: 0rem;
  left: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  background-color: rgb(0, 0, 0, 0.4);
  text-align: left;
  padding-left: 1.4rem;
  height: 10rem;
  border-radius: 0 8px 0 0;
  letter-spacing: 2px;
}
.carousel-caption h2::first-letter {
  text-transform: capitalize;
}
.carousel-caption h2 {
  font-weight: 600;
  margin-bottom: 2rem;
}
.carousel-caption p {
  padding-left: 1rem;
}
/* Cards filtradas */

.container-card-filtrada {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.container-card-filtrada h1 {
  padding: 1rem 0 0 0;
  position: relative;
}
.container-card-filtrada h1::after {
  content: "";
  width: 40%;
  height: 0.5rem;
  border-radius: 0.3rem;
  background-color: #04bd7d;
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.container-card-filtrada .close {
  background-color: var(--primary-color);
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  width: 5rem;
  border-radius: 1px;
}
.container-card-filtrada .cabecera {
  text-align: center;
  position: relative;
  width: 100%;
}

.card-descripcion {
  text-align: left;
}

/* Contenedor de productos */
#container-products {
  text-align: center;
}
#box-products {
  display: flex;
  padding: 4rem 4rem;
  gap: 2.8rem;
  justify-content: center;
  flex-wrap: wrap;
}
#box-products .card-title {
  font-weight: 600;
  font-family: var(--font-family-base);
}
.product {
  padding: 0;
  height: 100%;
  flex: 0 1 22rem;
  width: 32rem;
}
.product .card {
  padding: 0;
  height: 38rem;
  max-height: 40rem;
}
.product .card .card-descripcion {
  /*   font-family: var(--font-family-secondary);
 */
  line-height: 1.6rem;
  letter-spacing: 0.5px;
}
.product .card .card-descripcion b {
  /*   font-family: var(--font-family-secondary);
 */
  letter-spacing: 1px;
}

.product .card .buy-button {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.product .card .buy-button:hover {
  background-color: white;
  color: #212529;
}
.buy-button span {
  padding-left: 1rem;
}
/* imagen */
.imagen {
  position: relative;
  height: 55%;
  overflow: hidden;
}

.imagen img {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease-in-out; /* Transición suave para la opacidad */
  opacity: 0; /* Hacer que las imágenes estén inicialmente invisibles */
}
.imagen .imagen1 {
  opacity: 1;
}

.card:hover .imagen .imagen1 {
  opacity: 0;
}

.card:hover .imagen .imagen2 {
  opacity: 1;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  color: var(--primary-color);
}

#carousel-products .carousel-item {
  height: 400px;
}

.carousel-control-next,
.carousel-control-prev {
  background-color: black;
  width: 6.5rem;
  height: 6.5rem;
  /* width: calc(6.5rem + 2vw);
  height: calc(6.5rem + 2vw); */
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}
.carousel-control-next {
  right: 3rem;
}
.carousel-control-prev {
  left: 3rem;
}
.carousel-control-next span,
.carousel-control-prev span {
  width: 90%;
  height: 90%;
}
@media (max-width: 600px) {
  .carousel-control-next,
  .carousel-control-prev {
    width: 4rem; /* Ajusta el ancho con calc() */
    height: 4rem; /* Ajusta la altura con calc() */
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semitransparente */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 200;
}
.visible {
  opacity: 1;
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
/* SECTION DE CURIOSIDADES */

.marco-eventos {
  background-color: gray;
  height: 80vh;
  padding: 0;
}

.eventos {
  height: 100%;

  background-color: #04bd7d;
}
