#header {
  position: sticky;
  z-index: 200;
  width: 100%;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0.25rem var(--primary-color);
}

.box-cabecera .primera-linea {
  background-color: var(--white-color);
  border-bottom: 2px solid var(--letters-color);
  padding: 1rem 1rem;
}
.box-cabecera .segunda-linea {
  background-color: var(--secondary-color);
}

.categorias {
  background-color: var(--primary-color);
  justify-content: space-evenly;
  color: white;
  text-transform: capitalize;
  padding: 0;
}
.categorias article {
  cursor: pointer;
  margin: 1.5rem 0;
}
/* Primera parte */

.container-buscador-ampliado {
  position: fixed;
  background-color: var(--white-color);
  justify-content: center;
  align-items: center;
  z-index: 300;
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.buscador-ampliado {
  justify-self: center;
}
.logo {
  overflow: hidden;
  padding: 1rem;
  filter: brightness(1);
  transition: filter 0.3s ease-in-out; /* Transición suave */
}
.logo:hover {
  filter: brightness(1.3);
}
.logo p {
  margin-bottom: 0;
  color: black;
  font-family: var(--font-family-base);
}
.logo img {
  border: 1px solid white;
  width: 7.5rem;
}
.boton {
  width: 5rem;
  padding: 0.5rem;
  font-size: 2rem;
  transition: all 0.1s ease-in-out;
}
.boton:active {
  border-color: white !important;
}
#boton-apertura {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
#boton-apertura:hover {
  color: var(--white-color);
  border-color: var(--white-color);
  background-color: var(--primary-color);
}

.boton:hover {
  transform: scale(1.1);
  border-color: transparent !important;
}

.boton:active {
  transform: translateY(1px);
}

.navbar {
  width: 100%;
}

.formulario-busqueda {
  gap: 0.6rem;
  flex-grow: 1;
  padding: 0rem 0.5rem;
  height: 4.5rem;
}
.form-control:focus {
  box-shadow: 0 0 0.25rem var(--secondary-color);
  border-color: var(--secondary-color);
}

.box-input-sugerencias {
  position: relative;
  flex-grow: 1;
}
.box-input-sugerencias input {
  height: 100%;
}

.lista-sugerencia {
  position: absolute;
  background-color: white;
  list-style-type: none;
  width: 100%;
  top: 108%;
  padding: 0;
  margin: 0;
  z-index: 999;
  border-radius: 4px;
}
.lista-sugerencia li {
  cursor: pointer;
  padding: 1rem 1rem;
  display: flex;
  gap: 6rem;
}
.lista-sugerencia li div:first-child {
  align-self: center;
  flex-basis: 12rem;
}
.lista-sugerencia li div:nth-child(2) {
  align-self: center;
  flex-grow: 1;
}

.lista-sugerencia li:hover {
  background-color: var(--letters-color);
  color: white;
  border-left: 3px solid var(--primary-color);
}

.lista-sugerencia li:hover i {
  color: white;
}

.iconos-compra {
  justify-content: space-around;
  padding: 0.1rem 0;
}
.box-icon-navigator {
  position: relative;
}
.box-icon-navigator .badge {
  top: 18px;
  cursor: auto;
  transition: font-size 0.1s ease-in-out;
}
.box-icon-navigator .maxActive {
  font-size: 1.5rem !important;
}
.box-icon-navigator a {
  font-weight: 500;
  color: white;
  transition: transform 0.07s ease-in-out;
}
.box-icon-navigator a i {
  font-size: 2.4rem;
}
.box-icon-navigator a {
  border: none;
  color: var(--white-color);
}
.box-icon-navigator a p {
  letter-spacing: 1px;
}
.box-icon-navigator a:hover {
  transform: scaleX(1.1);
}

.datos-compra {
  position: fixed;
  display: flex;
  background-color: white;
  color: black;
  top: 0;
  right: 0;
  z-index: 1000;
  height: 100vh;
  flex-basis: 30rem;
  display: none;
  flex-direction: column;
  padding: 1rem 2rem;
  box-shadow: 0rem 0 4rem;
}
/* @media screen and (max-width: 700px) {
  .datos-compra {
    display: flex;
    flex-basis: 20rem;
  }
} */
.datos-compra.visible {
  right: 0; /* Muestra el panel moviéndolo a la vista */
}

.cuerpo-carrito {
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}
.datos-compra .cabecera-carrito {
  display: flex;
  padding: 1.5rem 0;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: var(--primary-color);
}
.datos-compra .cabecera-carrito h1 {
  font-size: 3rem;
}
.datos-compra .cabecera-carrito span {
  font-size: 2rem;
  color: white;
}
.cuerpo-carrito {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  flex: 1 1 auto;
}
.datos-compra .line {
  display: flex;
  align-items: center;

  width: 100%;
  justify-content: space-around;
  border-bottom: 2px solid var(--bs-border-color);
  padding: 1rem 0;
}
.datos-compra .line:last-child {
  border-bottom: none;
}
.line span {
  text-align: left;
  font-size: 1rem;
}

.close {
  font-size: 3rem;
  color: var(--primary-color);
}

.close:hover {
  animation: spin 1.2s infinite;
}
.line button {
  background-color: #ffdd40;
  padding: 0.2rem 0;
  width: 5rem;
  border-radius: 2px;
  transition: 0.1s ease-in-out;
  border: var(--bs-border-width) solid var(--bs-border-color);
}
.line button:hover {
  color: white;
}
.carroVacio {
  font-size: 10rem;
  color: grey;
}
.footer-carrito {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.footer-carrito .totales {
  padding: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-carrito .totales span:first-child {
  font-weight: 600;
}
.footer-carrito button {
  background-color: var(--secondary-color);
  height: 4rem;
  color: white;
  width: 15rem;
  display: none;
  margin: 0 0 2rem 0;
}
.footer-carrito button a {
  text-decoration: none;
  color: white;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
