.box-cabecera {
  background-color: #872341;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  box-shadow: 0 0 0.25rem black;
}
#header {
  position: fixed;
  z-index: 100;
  width: 100%;
  transition: all 0.6s ease-in-out;
}
/* Primera parte */
.box-buscador .container-linea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.vertical-line {
  border-left: 0.1rem solid white; /* Puedes cambiar el color y el grosor de la línea */
  height: 5rem;
}
.box-buscador {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.logo img {
  border: 1px solid white;
  transform: scale(1.1);
  width: 5.5rem;
}

.boton-busqueda {
  width: 3.5rem;
  font-size: 1.4rem;
  transition: all 0.1s ease-in-out;
}
.boton-busqueda:hover {
  transform: scale(1.06);
}
.boton-busqueda:active {
  transform: translateY(
    1px
  ); /* Aumenta el tamaño vertical y se mueve hacia abajo */
}

.navbar {
  padding: 0.2rem;
  display: block;
  border-radius: 0.3rem;
  flex-grow: 1;
  height: 3.5rem;
  max-width: 32rem;
}

.formulario-busqueda {
  height: 100%;
  gap: 0.2rem;
}
.form-control:focus {
  box-shadow: 0 0 0.25rem #be3144;
}

.box-input-sugerencias {
  position: relative;
  width: 100%;
}
.box-input-sugerencias input {
  height: 100%;
}

.lista-sugerencia {
  position: absolute;
  background-color: white;
  list-style-type: none;
  width: 100%;
  top: 108%;
  padding: 0;
  margin: 0;
  z-index: 4;
  border-radius: 4px;
}
.lista-sugerencia li {
  cursor: pointer;
  padding: 0 10px;
}
.lista-sugerencia li:hover {
  background-color: #872341;
  color: white;
}
.lista-sugerencia li:hover i {
  color: white;
}
/* .input-search::-webkit-search-cancel-button {
  appearance: none;
} */

/* Tercera parte */
.box-icon-navigator {
  position: relative;
  width: 4.5rem;
}
.box-icon-navigator .badge {
  top: -15px;
  left: 105%;
  cursor: pointer;
}
.box-icon-navigator a {
  font-weight: 500;
  color: white;
  position: absolute;
  top: -3rem;
  padding: 0;
  transition: transform 0.07s ease-in-out;
}

.box-icon-navigator a i {
  font-size: 3rem;
}

.box-icon-navigator a p {
  letter-spacing: 1px;
}
.box-icon-navigator a:hover {
  color: white;
  transform: scaleX(1.1);
}

.datos-compra {
  position: absolute;
  display: flex;
  background-color: white;
  color: black;
  top: 0;
  right: -35rem;
  z-index: 1000;
  height: 100vh;
  width: 35rem;

  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  flex-direction: column;
  box-shadow: 0rem 0 3rem rgba(0, 0, 0, 0.4);
}

.datos-compra .cuerpo-carrito,
.footer-carrito {
  padding: 1rem 2.5rem;
  border-top: 2px solid grey;
}

.datos-compra .cabecera-carrito {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  text-align: end;
  background-color: #872341;
  color: white;
}
.datos-compra .cabecera-carrito span {
  font-size: 2rem;
  color: white;
}
.cuerpo-carrito {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  flex: 1 1 auto;
}
.datos-compra .line {
  display: flex;
  align-items: center;

  width: 100%;
  justify-content: space-around;
  border-bottom: 2px solid var(--bs-border-color);
  padding: 1rem 0;
}
.datos-compra .line:last-child {
  border-bottom: none;
}
.line span {
  text-align: left;
  font-size: 1rem;
}

.close {
  font-size: 2.3rem;
  display: inline-block;
  transition: transform 1.5s ease-in-out;
}

.close:hover {
  animation: spin 1.5s infinite;
}
.line button {
  background-color: #ffdd40;
  padding: 0.2rem 0;
  width: 5rem;
  border-radius: 2px;
  transition: 0.1s ease-in-out;
  border: var(--bs-border-width) solid var(--bs-border-color);
}
.line button:hover {
  color: white;
}
.carroVacio {
  font-size: 10rem;
  color: grey;
}
.footer-carrito {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.footer-carrito .totales {
  padding: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid grey;
}
.footer-carrito .totales span:first-child {
  font-weight: 600;
}
.footer-carrito button {
  background-color: #872341;
  height: 4rem;
  color: white;
  width: 15rem;
  display: none;
  margin: 0 0 2rem 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
