:root {
  --primary-color: #09122c;
  --secondary-color: #a0153e;
  --third-color: #be3144;
  --titles-color: #04bd7d;
  --white-color: #ffff;
  --gray-light-color: #f8f8f8;
  --letters-color: #c0c0c0;
  --font-family-base: "sans-serif, Arial, Helvetic";
  --font-family-secondary: " Arial, Helvetic";
  --font-size-products: 1rem;
  --font-size-normal: 1.2rem;
  --font-size-buttons: 2rem;
  --font-size-buttons-bigger: 2.5rem;
}
